body{
  /* background:#222;
  font-size: 40px; */
  color: white;
  overflow: hidden;
  font-family: serif;
  background: linear-gradient(to bottom, #222 0%, #000 100%);
  height: 100vh;
}
.totalbar{
  display: none;
  width:calc(var(--total) * 2px);
  position: absolute;
  height:10px;
  background:yellow;
  border:1px solid black;
  right:0;
  top:0;
}
.snowflake{
    /* background-image:  url("mouse.png"); */
  position: absolute;
  text-align: center;
  width:.8em;
  transition: transform 4s ease-out, opacity 4s ease-out;
}
.snowflake span{
  display: block;
  line-height: .4em;
  padding-top:.3em;
  animation: rotate 5s linear infinite;
  transform-origin: center;
}
.snowflake[data-melting="true"]{
  opacity: 0;
  transform: scale(0);
}
.debug .snowflake span{
  border:1px solid cyan;
}
.debug .snowflake[data-melting="true"] span{
  border-color:yellow;
}
.debug .totalbar{
  display: block;
}

@keyframes rotate {
  100% {transform: rotate(360deg);}
}








/* https://jwu13-bloop.github.io/project1-3.2/index2.html */

.falling {
    position: absolute;
    top: -30vh;          
    animation-name: drop;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    z-index: 3;
}

.falling img {
    width: 10vw;          
    height: auto;
}

.falling:nth-of-type(1) {
    left: 10vw;
    animation-duration: 5s;
    animation-delay: 0s;
}

.falling:nth-of-type(2) {
    left: 20vw;
    animation-duration: 8s;
    animation-delay: 1s;
}

.falling:nth-of-type(3) {
    left: 30vw;
    animation-duration: 4s;
    animation-delay: 2s;
}


.falling:nth-of-type(4) {
    left: 40vw;
    animation-duration: 5s;
    animation-delay: 0s;
}

.falling:nth-of-type(5) {
    left: 50vw;
    animation-duration: 6s;
    animation-delay: 1s;
}

.falling:nth-of-type(6) {
    left: 60vw;
    animation-duration: 8s;
    animation-delay: 2s;
}

.falling:nth-of-type(7) {
    left: 70vw;
    animation-duration: 4s;
    animation-delay: 0s;
}

.falling:nth-of-type(8) {
    left: 80vw;
    animation-duration: 7s;
    animation-delay: 1s;
}
.falling:nth-of-type(9) {
    left: 90vw;
    animation-duration: 6s;
    animation-delay: 2s;
}



@keyframes drop {
    0% {
        top: -50vh;
        transform: rotate(0deg);
    }
    100% {
        top: 100vh; 
        transform: rotate(360deg); 
    }
}





